<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Custom Bicycle</title>
        <style>
        img {
        max-width: 25%;
        height: 25%;
        border-radius: 80%; 
        }
        p {background-color: coral;}
        </style>
    </head>
    <body style="font-family: consolas;">
        <br>
        <!-- <img class='bg' src="/img/cover2.jpg"> -->
        <center><img src='/img/cover.png'></center>
        <h1 style="color: #8b0000; margin-top: 50px; margin-bottom: 10px"><center>Welcome!</center></h1>
        <p style="margin-bottom: 40px;"><a href="/customers/register"><center>Register</center></a></p>
        <p><a href="/"><center>Login</center></a></p>
    </body>
</html>