<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Products</title>
    </head>
    <body style="font-family: consolas">
        <h1 style="margin-left: 20px">Products</h1>
        <p style="font-size: 11px; margin-right: 40px; margin-bottom: 30px; float: right"><a href="/customers">See Your Profile</a></p>
    </body>
</html> -->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        * {
            box-sizing: border-box;
        }
        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        img {
            max-width: 70%;
            height: 50%;
            border-radius: 5%; 
        }

        .right{
            float:right;
        }
        </style>
    </head>
    <body style="font-family: consolas">
        <p style="font-size: 11px; margin-right: 40px; margin-bottom: 30px; float: right; font-size: 20px"><a href="/customers">See Your Profile</a></p>
        <form action='/products/order' method='POST' >

        <center><h2>Frame</h2></center>
        <div class="row">
        <div class="column" style="background-color:#aaa;">
            <img src="/img/frame_dean.jpg" alt="dean">
            <h2>Dean</h2>
            <br>
            <br>
        <center><input type='radio' name='frame_id' value='1'></center>
        </div>
        <div class="column" style="background-color:#bbb;">
            <img src="/img/frame_porucho.jpg" alt="porucho">
            <h2><strike>Porucho</strike></h2>
            <p>Out of stock</p>
        </div>
        <div class="column" style="background-color:#ccc;">
            <img src="/img/frame_basman.jpg" alt="basman">
            <h2><strike>Basman</strike></h2>
            <p>Out of stock</p>
        </div>
        </div>

        <center><h2>Handlebar</h2></center>
        <div class="row">
                <div class="column" style="background-color:#aaa;">
                <img src="/img/handlebar_aero.png" alt="dean">
                <h2>Casual</h2>
                <center><input type='radio' name='handlebar_id' value='1'></center>
                </div>
                <div class="column" style="background-color:#aaa;">
                    <img src="/img/handlebar_powerful.jpg" alt="dean">
                    <h2>Aero</h2>
                    <center><input type='radio' name='handlebar_id' value='2'></center>
                </div>
                </div>
        </div>

        <center><h2>Rims</h2></center>
        <div class="row">
        <div class="column" style="background-color:#aaa;">
            <img src="/img/rims_superteam.jpg" alt="rims">
            <h2>Carbon</h2>
            <center><input type='radio' name='rims_id' value='1'></center>
        </div>
        <div class="column" style="background-color:#bbb;">
            <img src="/img/rims_carbon.jpg" alt="rims">
            <h2>Superteam</h2>
            <center><input type='radio' name='rims_id' value='2'></center>
        </div>
        <div class="column" style="background-color:#bbb;">
            <img src="/img/rims_carbon.jpg" alt="rims">
            <h2>Carbon v2</h2>
            <center><input type='radio' name='rims_id' value='2'></center>
        </div>
        <br>
        <br>
        <input type="submit" class="right" value="Order">
        </form>
        </form>

    </body>
</html>